<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">Over 10 years of web development experience.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2017-2019</h4>
                                    <h4 class="subheading">Our Humble Beginnings</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Snowy Peak Systems started as a computer and phone repair service serving customers in Denver and Pueblo.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>September 2019</h4>
                                    <h4 class="subheading">Transition to Web Development</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">The <a href="https://sebsscholarship.org/" target="_blank" rel="noopener">SEBS Scholarship Foundation</a> was co-founded by Snowy Peak Systems' owner Levi Muniz. He created the foundation's website, blog, and other online tools for the foundation.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>October 2022</h4>
                                    <h4 class="subheading">Web Development as a Service</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Snowy Peaks System started its first contract for year-round website development for the <a href="https://www.pchsalumnifoundation.org/" target="_blank" rel="noopener">PCHS Alumni Foundation</a> and has offered web development services since, fulfilling multiple contracts.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>