<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <h3 class="section-subheading text-muted">Check out our website development, hosting, and support services.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Starter E-Commerce</h4>
                    <p class="text-muted">Have us build a simple e-commerce site for your small business for easy payment processing and/or appointment scheduling.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Professional Website Design</h4>
                    <p class="text-muted">Have us build a website from the ground up custom-tailored for your mid-market or large enterprise, including mobile device optimization, SEO, and payment processing.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-server fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Hosting and Support</h4>
                    <p class="text-muted">We can also provide guaranteed year-round support and host your website for you, taking care of domain registration and any updates you'd like to make to your site.</p>
                </div>
            </div>
        </div>
    </section>